Bartlett NEON wet dep chemistry 2020 2021.xlsx
HBEF_RG22 NO3 DOC wet dep 2009 2020.xlsx
BDC_DOC.csv
BDC_WQual_Level4.csv
BEF_DOC.csv
BEF_WQual_Level4.csv
BEF_WQual_Level4_fromHannah.csv
c0_baseflow_estimates.xlsx
CR1000_BDC_WQual_Level3_Grab.csv
CR1000_BEF_WQual_Level3_Grab.csv
DCF_DOC.csv
DCF_WQual_Level4.csv
HBF_DOC.csv
HBF_WQual_Level4.csv
LMP_DOC.csv
LMP_WQual_Level4.csv
recessionA.xlsx
WHB_DOC.csv
WHB_WQual_Level4.csv
nh_cq_data_filtered.csv
old_files
out
